In [1]:
import pandas as pd

In [3]:
test=pd.DataFrame({'A':['one','two','one','two','one','two']})

In [10]:
test.head(2)

     A
0  one
1  two

In [11]:
pd.get_dummies(test).drop('A_two',axis=1)

   A_one
0      1
1      0
2      1
3      0
4      1
5      0

In [14]:
test['A'].map({'one':1,'two':0})

0    1
1    0
2    1
3    0
4    1
5    0
Name: A, dtype: int64