In this demonstration we'll look at a sample example, which would be following the same procedure through which the assignment problem can be solved

In [1]:
#import all the necessary libraries

import pandas as pd
import numpy as np
import pandas as pd

# For Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To Scale our data
from sklearn.preprocessing import scale

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# To perform Hierarchical clustering
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [2]:
#Let's read the dataset first
dat = pd.read_csv('https://query.data.world/s/fgpmczptzlakpvpcuuoxrotp65hsjl')
dat.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
## Let's drop species column as this is a label column and we don't need it in case of unsupervised learning models
dat.drop('species',axis=1,inplace=True)

In [4]:
dat.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [0]:
# Now, we need to create a ID columns, without this we will not be able to make necessary conclusions or we will not be able to
# identify that which observation goes to which cluster

In [5]:
# Let's check the shape again
dat.shape

(150, 4)

In [6]:
# Also, check the info again
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

## Question-1:

Check if the data have some null values?

In [7]:
# Number of nulls per column
dat.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

### Let's begin with analysis part

### 1. Principal Component Analysis

In [26]:
# Let's preserve the ID column to some variable, so that we can make use of it later after perfroming PCA
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [27]:
# Now let's drop the ID column as it is not a predictor in our data.
scaled_data=scaler.fit_transform(dat)

In [28]:
# Let's check the info about the data
np.max(scaled_data)

3.1146839106774356

## Question-2: 

In the below cell use standard scaler to standardise the data

After this, check what is the maximum value in the array we have?

In [30]:
## Let's scale the data with 4 columns
pd.DataFrame(scaled_data,columns=dat.columns).head()

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [0]:
# Check maximum value here

## Question-3 & 4: 

Now, we will perfrom PCA on the data we have, use svd_solver as randomized and random_state as 42

After this, check pca.components_, this will basically give you the all the vectors of the new feature space. Now check the first vector and check the first coponent of it.

- What is the first coponent of the first vector obtained from pca.components_?
- What is the variance explained by the first principa component?

In [37]:
#Importing the PCA module
from sklearn.decomposition import PCA,IncrementalPCA
pca=PCA(svd_solver='randomized',random_state=42)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [34]:
#Performing the PCA
pca.fit(scaled_data)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=42,
    svd_solver='randomized', tol=0.0, whiten=False)

In [35]:
#first coponent of the first vector obtained from pca.components_
pca.components_

array([[ 0.52237162, -0.26335492,  0.58125401,  0.56561105],
       [ 0.37231836,  0.92555649,  0.02109478,  0.06541577],
       [-0.72101681,  0.24203288,  0.14089226,  0.6338014 ],
       [-0.26199559,  0.12413481,  0.80115427, -0.52354627]])

In [36]:
#What is the variance explained by the first principa component
pca.explained_variance_ratio_

array([0.72770452, 0.23030523, 0.03683832, 0.00515193])

In [0]:
#Plotting the scree plot
%matplotlib inline

## Question-5:

Choose the correct number of PCA from the cumulative variance plot.

What is the number of PCs we can go about?

In [0]:
# What is the number of PCs we can go about?

# Answer here:

### Run the PCA with the components choosed above

In [38]:
#Finally let's go ahead and do dimenstionality reduction
pca2=IncrementalPCA(n_components=2)

In [40]:
# Transform the data here
scaled_data=pca2.fit_transform(scaled_data)

In [42]:
# Print the resultant PCs here
pd.DataFrame(scaled_data)

            0         1
0   -2.264280  0.505960
1   -2.085786 -0.654725
2   -2.368034 -0.318846
3   -2.304392 -0.575928
4   -2.388891  0.674479
5   -2.070742  1.518260
6   -2.446551  0.073120
7   -2.233662  0.247718
8   -2.342230 -1.095891
9   -2.188037 -0.447931
10  -2.162932  1.071365
11  -2.327656  0.157996
12  -2.223468 -0.708493
13  -2.640088 -0.939180
14  -2.191276  1.891530
15  -2.251776  2.722065
16  -2.202840  1.513619
17  -2.190107  0.514287
18  -1.893285  1.432296
19  -2.340390  1.157328
20  -1.913576  0.431804
21  -2.205114  0.951695
22  -2.775026  0.488073
23  -1.820482  0.106501
24  -2.228583  0.161476
25  -1.956228 -0.606963
26  -2.052292  0.265533
27  -2.167746  0.552561
28  -2.139668  0.337441
29  -2.268961 -0.315366
..        ...       ...
120  2.039878  0.906776
121  0.971953 -0.574064
122  2.900087  0.401084
123  1.329274 -0.486590
124  1.703411  1.013199
125  1.958614  1.004944
126  1.171638 -0.319231
127  1.018948  0.064408
128  1.785371 -0.194086
129  1.866424  0.558049
130  2.437240  0.249473
131  2.317008  2.628090
132  1.859544 -0.185759
133  1.111701 -0.295291
134  1.197836 -0.816621
135  2.802255  0.847026
136  1.577766  1.069216
137  1.346520  0.421653
138  0.922415  0.017807
139  1.853561  0.672681
140  2.015111  0.609100
141  1.902834  0.685855
142  1.151950 -0.703149
143  2.042418  0.863655
144  2.000103  1.046508
145  1.869943  0.382172
146  1.558677 -0.905024
147  1.520405  0.266308
148  1.374035  1.013127
149  0.957978 -0.024154

[150 rows x 2 columns]

In [0]:
#Creating a transpose so that the each column is properly arranged

In [0]:
# Create a dataframe with the PCs obtained

In [0]:
# Check the head of the resultant data

In [0]:
#Let's add back the ID to the given principal components

### Let's perfrom Outlier treatment

In [0]:
## Let's perform Outlier Analysis
#Let's do the outlier analysis before proceeding to clustering

# For PC1

In [0]:
# For PC2

In [0]:
#Let's visualise the resultant PCs

## Clustering

In [0]:
#Calculating the Hopkins statistic
from sklearn.neighbors import NearestNeighbors
from random import sample
from numpy.random import uniform
import numpy as np
from math import isnan
 
def hopkins(X):
    d = X.shape[1]
    #d = len(vars) # columns
    n = len(X) # rows
    m = int(0.1 * n) 
    nbrs = NearestNeighbors(n_neighbors=1).fit(X.values)
 
    rand_X = sample(range(0, n, 1), m)
 
    ujd = []
    wjd = []
    for j in range(0, m):
        u_dist, _ = nbrs.kneighbors(uniform(np.amin(X,axis=0),np.amax(X,axis=0),d).reshape(1, -1), 2, return_distance=True)
        ujd.append(u_dist[0][1])
        w_dist, _ = nbrs.kneighbors(X.iloc[rand_X[j]].values.reshape(1, -1), 2, return_distance=True)
        wjd.append(w_dist[0][1])
 
    H = sum(ujd) / (sum(ujd) + sum(wjd))
    if isnan(H):
        print(ujd, wjd)
        H = 0
 
    return H

## Question 6:

Is the given data good for performing Clustering?

In [0]:
#Let's check the Hopkins measure

In [0]:
#Answer here:

In [0]:
# Now for perfroming clustering, we need to again drop the ID column, Let's drop it

In [0]:
# Check the shape of the resultant data

### K- means Clustering

## Question-7: Look at the silhouette score plot and choose the optimal number of cluster

In [0]:
#First we'll do the silhouette score analysis

In [0]:
plt.plot(pd.DataFrame(sse_)[0], pd.DataFrame(sse_)[1]);

## Question-8: Look at the Elbow Curve plot and choose the optimal number of cluster

In [0]:
#Now let's proceed to the elbow curve method

## KMeans with the K the we have choosed

In [0]:
#Let's perform K means using K=

In [0]:
# Let's add the cluster Ids to the PCs data

In [0]:
# Check the count of observation per cluster

In [0]:
# Plot the Cluster with respect to the clusters obtained

## Cluster Profiling

In [0]:
# Let's merge the original data with the data(ClusterID)

In [0]:
# Let's drop PCs from the data

#### So we have performed the clustering using the PCs and have now allocated the clusterIDs back to each of the datapoints

## Analysis of the clusters

In [0]:
# Let's profile the cluster by taking the mean of various attributes

In [0]:
# Let's concat the resultant with the Cluster ID columns

In [0]:
# Let's add column name to it

## Finding the observations that belong to certain cluster

In [0]:
#Let's say my problem statement here is to just the find the flowers which have a very low petal length and petal width.
#Here's how you can make up for the outlier analysis that you did earlier.
#So you can choose those cluster means as cut offs and find the final list of flowers.

In [0]:
#Let's use the concept of binning