In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sklearn
from warnings import filterwarnings
filterwarnings('ignore')
from sklearn.metrics import classification_report,accuracy_score

In [2]:
tele_df=pd.read_csv('telecom_churn_data_assignment.csv')

In [5]:
recharge_amount_columns =  tele_df.columns[tele_df.columns.str.contains('rech_amt|rech_data')]

In [6]:
recharge_amount_columns

Index(['total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8',
       'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7',
       'max_rech_amt_8', 'max_rech_amt_9', 'date_of_last_rech_data_6',
       'date_of_last_rech_data_7', 'date_of_last_rech_data_8',
       'date_of_last_rech_data_9', 'total_rech_data_6', 'total_rech_data_7',
       'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6',
       'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9',
       'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8',
       'av_rech_amt_data_9'],
      dtype='object')

,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
0,362,252,252,0,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN
1,74,384,283,121,NaN,1.0,2.0,NaN,NaN,154.0,50.0,NaN
2,168,315,116,358,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0
3,230,310,601,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,196,350,287,200,1.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99994,60,110,0,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,110,110,182,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,119,0,0,0,2.0,NaN,NaN,NaN,39.0,NaN,NaN,NaN
99997,381,358,716,862,3.0,2.0,4.0,4.0,583.0,358.0,716.0,862.0
99998,710,0,0,0,1.0,NaN,NaN,NaN,154.0,NaN,NaN,NaN